.start-game {
  padding: 1.5rem 3rem;
  text-align: center;
}

.start-game__title {
  text-align: center;
  font-size: 1.5rem;
}

.start-game__rules {
  text-align: left;
  padding: 1rem;
  list-style-type: square;
}

.start-game__rule {
  margin: 5px 0;
}
