.game__flag {
  display: block;
  margin: 0 auto;
  height: 110px;
}

.game__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1rem;
}

.game__info {
  display: block;
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.game__info b {
  font-weight: 500;
}

.game__btn {
  padding: 0px;
  display: block;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.game__btn-text {
  display: none;
}

.game__btn:hover .game__btn-text {
  display: inline;
}

.game__btn:hover .game__btn-icon {
  display: none;
}

.game__field-container {
  position: relative;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__field-btn {
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: var(--accent-color);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.game__field-btn:hover {
  background-color: var(--hover-accent-color);
}

.game__field-btn--disable {
  cursor: default;
  background-color: gray;
}

.game__field-btn--disable:hover {
  background-color: gray;
}

.game__field {
  width: 200px;
}

.game-end-modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.game-end-modal__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.game-end-modal__description {
  padding: 1rem 0 2rem 0;
}

.game-end-modal__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1rem;
}

.game-end-modal__cancel-btn {
  background-color: var(--action-color);
}

.last-answer__container {
  min-height: 6.5rem;
}

.last-answer {
  font-size: 1.1rem;
  display: block;
  color: var(--text-color);
  margin-bottom: 5px;
}

.last-answer__right {
  color: var(--success-color);
}

.last-answer__wrong {
  color: var(--danger-color);
}

.last-answer-country {
  text-align: center;
  position: relative;
  cursor: pointer;
  color: var(--accent-color);
  transition: color 0.3s;
}

.last-answer-country:hover {
  color: var(--hover-accent-color);
}

.last-answer-country:hover .country__flag {
  display: block;
}

.last-answer-country__flag {
  z-index: 2;
  position: absolute;
  top: 25px;
  left: -50px;
  width: 140px;
  display: none;
}

@media (min-width: 600px) {
  .last-answer-country__flag {
    left: -25px;
    width: 180px;
  }
}

.last-answer-country__flag img {
  width: 100%;
}

.last-answer-country__continents {
  color: var(--text-color);
  font-size: 1rem;
}

.last-answer-country__population {
  display: block;
  margin: 0.3rem 0;
  color: var(--text-color);
  font-size: 1rem;
}

.last-answer-country__link {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: center;
  font-size: 1rem;
}

.clues {
  z-index: 1;
  top: 35px;
  position: absolute;
  width: 260px;
  max-height: 160px;
  padding: 4px;
  overflow: hidden;
  overflow-y: auto;
}

.clue {
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-right: 5px;
  cursor: pointer;
  background-color: var(--input-color);
  display: block;
  padding: 5px 10px 8px 10px;
  box-shadow: 0 0 0 0 var(--hover-accent-color);
}

.clue:hover {
  box-shadow: 0 0 0 1px var(--hover-accent-color);
}

.clue--active {
  box-shadow: 0 0 0 2px var(--hover-accent-color);
}

.clue--active:hover {
  box-shadow: 0 0 0 2px var(--hover-accent-color);
}

@media (min-width: 500px) {
  .game__flag {
    height: auto;
    width: 260px;
  }

  .last-answer__container {
    min-height: auto;
  }

  .last-answer {
    font-size: 1.2rem;
  }
}
