.header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__title {
  font-size: 2rem;
  color: var(--text-color);
}

.theme-switcher {
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: none;
}
