.header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header__settings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo__title {
  font-size: 2rem;
  color: var(--text-color);
}

.spinning-setting-icon:hover {
  transition: 0.3s transform;
  transform: rotate(180deg);
}
